
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="text" name="comment[texto]" id='preg' value="" placeholder='inserte aqui el comentario'></li>
			</ul>
	</div>
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="submit" class='special' value="Guardar"></li>
				<li><a href='/quizes/<%=quizid%>' class='button' >Cancelar</a></li>
			</ul>
	</div>
