
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="text" name="quiz[pregunta]" id='preg' value="<%=quiz.pregunta%>" placeholder='<%=quiz.pregunta%>'></li>
				<li><input type="text" name="quiz[respuesta]" id='resp' value="<%=quiz.respuesta%>" placeholder='<%=quiz.respuesta%>'></li>
			</ul>
			
	</div>
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="submit" class='special' value="Guardar"></li>
				<li><a href='quizes' class='button' >Cancelar</a></li>
			</ul>
	</div>
