<h4>Pregunta: <%= quiz.pregunta %></h4>
<form method='get' action='/quizes/<%= quiz.id %>/answer'>
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="text" name="respuesta" id='demo-name' value="" placeholder="Su respuesta"/></li>
				<li><input type="submit" class='special' value="Responder" /></li>
			</ul>
	</div>
</form>


<p><strong>Comentarios:</strong></p>
<ul>
<%for(var index in quiz.Comments){%>
	<li><%=quiz.Comments[index].texto%></li>
<%}%>
</ul>
<p><a href="/quizes/<%= quiz.id %>/comments/new" class="button">nuevo comentario</a></p>